<meta http-equiv="refresh" content="0;URL=https://explorer.taostats.io/bittensor">
<!-- 
<div class="home">
  <h1 class="home-header">
    Bittensor Explorer
  </h1>
  <p>Redirecting you now ... if not, click here for <a href="https://explorer.taostats.io/bittensor">Bittensor Explorer</a>.</p>
  <div class="width-container">
    <h2 class="home-buttons-heading">Choose your network</h2>
    
    <div class="home-buttons">
      <mat-card appearance="outlined" *ngFor="let network of networks" [routerLink]="'/' + network" tabindex="0"
         matRipple
         class="home-button home-button--{{ network }}">
        <mat-card-content class="home-button-content">{{network}}</mat-card-content>
      </mat-card>
    </div>
  </div>

</div>
  -->
 <h1 class="home-header">
  Bittensor Explorer
</h1>
 <p>Redirecting you now ... if not, click here for <a href="https://explorer.taostats.io/bittensor">Bittensor Explorer</a>.</p>
